
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_FrameLayout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="~/Content/CSS/Bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CSS/MenuLateral.css" rel="stylesheet" />
    <link href="~/Content/CSS/w3.css" rel="stylesheet" />
    <link href="~/Content/CSS/Fonte.css" rel="stylesheet" />
    <link href="~/Content/CSS/font-awesome.css" rel="stylesheet" />
    
</head>
<body>













    @RenderBody()
    <script type="text/javascript">
         function pegaDiv() {
        return parent.document.getElementById('index');
    }
    </script>
</body>

</html>
